<%= render 'common/navbar' %>

<div class="container">
  <h1 class="title">Proyectos</h1>
  <h2 class="subtitle">Centro de operaciones libertario</h2>
  <hr />
  <p>
    Estamos trabajando en la construcción de una plataforma digital para coordinar las actividades de nuestros libertarios.
  </p>
  <br />
  <p class="has-text-centered">
    <i class="fa fa-cog fa-spin fa-4x"></i>
  </p>
</div>
