<%= render 'common/navbar' %>

<div class="container">
  <div class="content">
    <h1 class="title" style="margin-top: 20px">Comunicación del grupo</h1>

    <h3>Comunicación efectiva</h3>
    <p>
      Necesitamos una herramienta que nos permita comunicarnos y, escale a medida que vayamos creciendo. Los grupos de Facebook y los de WhatsApp si bien pueden ser prácticos para grupos pequeños no son prácticos cuando más gente se acerca a colaborar y lograr una exitosa coordinación de múltiples proyectos.
    </p>

    <p>
      Por lo mismo, elegimos <a href="http://slack.com">Slack</a>, que es una de las aplicaciones de comunicación más utilizadas por las empresas de tecnología del mundo y la elegida por la NASA, entre otros. Dentro de Slack se irán creando canales para debatir las distintas cuestiones que hacen al grupo, evitando de este modo la superposición en un canal único, facilitando la búsqueda de información y habilitando la interacción  en distintos momentos horarios.
    </p>

    <br />
    <p class="has-text-centered">
      <a href="https://join.slack.com/t/fuerza-libertaria/shared_invite/enQtMjY3MjYxNDkxMzk0LTE0ZGRiZjc3M2RhMzMxMDY0YjY0MzQwZTVkMzM2OWQ4YjAzMzg5YTQ2Y2Q4NTJjNWE1ODFlY2Y5MTY1Mzg0NGQ" target="_blank" class="button is-medium is-warning"><i class="fa fa-slack"></i>&nbsp;&nbsp;Unirse a nuestro Slack!</a>
  </p>

    <h3>Canales</h3>
    <p>
      La actividad en el centro operacional se divide en distintos canales, donde se podrá coordinar un tema concreto sin superponernos o dificultar la comunicación. Esta separación nos permitirá un orden de trabajo y ser efectivos en llevar adalente nuestros proyectos.
    </p>

    <ul>
      <li><strong>#institucional-partido</strong> para llevar adelante la coordinación necesaria para la creación del partido político.</li>
      <li><strong>#difusion-redes</strong> para coordinar las actividades de difusión ideológica en redes sociales.</li>
      <li><strong>#debates</strong> si quieres debatir diversos tópicos sin congestionar los canales de acción del grupo.</li>
    </ul>

    <p>
      Únete al canal de tu provincia para ponerte en contacto con otros liberales ubicados geográficamente en la misma, entre otros encontraras:
    </p>

    <ul>
      <li><strong>#liberales-caba</strong></li>
      <li><strong>#liberales-bs-as</strong></li>
      <li><strong>#liberales-cordoba</strong></li>
      <li><strong>#liberales-santa-fe</strong></li>
    </ul>
  </div>
</div>
