<%= render 'common/navbar' %>
<%= render 'common/header', subtitle: 'Manifiesto del grupo' %>

<section class="section">
  <div class="container">
    <% if flash[:notice] %>
      <div class="notification is-link">
        <button class="delete"></button>
        <p class="has-text-centered"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <div class="content">
      <p class="is-size-4">
        Somos un <strong>grupo de acción</strong> que surgió de forma espontánea en las redes, siendo la misión en común que nos une la de <strong>impulsar activamente</strong> las ideas de la <strong>libertad</strong> en la Argentina y, en un futuro próximo, concretar la creación de un <strong>partido político</strong> que nos represente.
      </p>

      <h3><i class="fa fa-bolt"></i>&nbsp;Tecnología para potenciarnos</h3>
      <p>
        La tecnología permite potenciar a los individuos y conectarlos de forma que puedan coordinar sus esfuerzos de forma descentralizada, incluso interactuando en diversas franjas horarias. Primero es necesario que utilicemos la misma de forma inteligente para organizarnos como grupo de acción. Apuntamos a tener una colaboración descentralizada y horizontal donde sean los proyectos e ideas los que traccionen gente y no una decisión verticalista.
      </p>

      <h3><i class="fa fa-comments-o"></i>&nbsp;Comunicación interna del equipo</h3>
      <p>
        Necesitamos una herramienta que nos permita comunicarnos y, escale a medida que vayamos creciendo. Los grupos de Facebook y los de WhatsApp si bien pueden ser prácticos para grupos pequeños no son prácticos cuando más gente se acerca a colaborar y lograr una exitosa coordinación de múltiples proyectos.
      </p>

      <p>
        Por lo mismo, elegimos <a href="http://slack.com">Slack</a>, que es una de las aplicaciones de comunicación más utilizadas por las empresas de tecnología del mundo y la elegida por la NASA, entre otros. Dentro de Slack se irán creando canales para debatir las distintas cuestiones que hacen al grupo, evitando de este modo la superposición en un canal único, facilitando la búsqueda de información y habilitando la interacción  en distintos momentos horarios.
      </p>

      <br />
      <p class="has-text-centered">
        <a href="https://join.slack.com/t/fuerza-libertaria/shared_invite/enQtMjY3MjYxNDkxMzk0LTE0ZGRiZjc3M2RhMzMxMDY0YjY0MzQwZTVkMzM2OWQ4YjAzMzg5YTQ2Y2Q4NTJjNWE1ODFlY2Y5MTY1Mzg0NGQ" class="button is-medium is-warning"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Unirse a nuestro Slack!</a>
      </p>

      <h3><i class="fa fa-globe"></i>&nbsp;El mapa liberal de la Argentina</h3>
      <p>
        Nuestra misión requiere saber dónde estamos ubicados geográficamente para conectarnos entre nosotros y además saber con que aptitudes contamos. Es por eso que iremos creando un “mapa liberal” de la Argentina, en una aplicación dónde cada uno podrá registrarse con sus datos de contacto y será ubicado en un mapa geográfico explorable. Esto nos permitirá formar vínculos entre nosotros y, a medida que el grupo crezca, también lograr reuniones presenciales.
      </p>

      <br />
      <p class="has-text-centered">
        <a href="<%= mapa_liberal_path %>" class="button is-medium is-warning"><i class="fa fa-street-view"></i>&nbsp;Ver mapa liberal</a>
      </p>

      <h3><i class="fa fa-lightbulb-o"></i>&nbsp;La batalla de las ideas</h3>
      <p>
        No hay duda que la batalla a dar a largo plazo es la de las ideas y desde donde debemos concentrar nuestras energías pero siempre apuntando a proyectos concretos que generen impacto.
      </p>
      <p>
        Dentro de la libertad hay distintos espectros, pero tenemos que concentrarnos en lo que tenemos en común y no dividirnos por cuestiones menores sin sentido como ya ha pasado en anteriores intentos de fuerzas liberales.
      </p>
      <p>
        Queremos extender la invitación a todos los ciudadanos de la Argentina comprometidos con la libertad que estén dispuestos a colaborar activamente llevando adelante proyectos para concretar los objetivos que nos acercarán a nuestra misión. Los hechos son concisos: los liberales-libertarios somos minoria y estamos dispersos geográficamente, por eso la batalla que tenemos que dar, debe ser dada de forma inteligente.
      </p>

    </div>
  </div>
</section>
