<% content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
  <script defer src="https://maps.google.com/maps/api/js?key=AIzaSyBJ4nB1pabS1zdNUVpzvga00bZ4delLyAw&callback=initMap"></script>
<% end %>

<%= render 'common/navbar' %>

<% controller.gon.jbuilder %>

<section>
  <div class="columns">
    <div class="column is-three-quarters" id="container">
      <div id="map"></div>
    </div>
    <div class="column" style="-background-color: #ffdd57;">
      <br />
      <h2 class="title is-4 has-text-centered"><%= Usuario.count %> Libertarios</h2>
      <p>El Mapa Liberal es nuestro esfuerzo por conectar y potenciar a los liberales de Argentina.</p>
      <br />
      <p>Utilizalo para conectar con los liberales de tu ciudad o zona.</p>
    </div>
  </div>
</section>
