<%= render 'common/navbar' %>

<div class="container">
  <div class="content">
    <h1 class="title" style="margin-top: 20px">Preguntas frecuentes</h1>

    <h4>Fuerza Libertaria ¿un partido político?</h4>
    <p>
      No, fuerza libertaria es un grupo de acción de defensores de las ideas de las libertad, entre los cuales uno de los principales proyectos es la creación de un partido político para lograr representación legislativa. Pero sabemos bien que la concreción de este objetivo, sin luchar por ganar la batalla de las ideas, será en vano. Dicha batalla se tiene que dar con mucha inteligencia, ganandole metro a metro al Estado y demoliendo las falacias que se han creado sobre el liberalismo.
    </p>
    <hr />

    <h4>Defiendo la libertad pero no quiero particiar en política, ¿es para mi?</h4>
    <p>
      Cualquier defensor de las ideas de la libertad y que actúe de manera acorde será bien recibido en el grupo, entendemos que algunos individuos desconfían de la política como herramienta de cambio y es por eso que los invitamos a dar la otra batalla: la cultural o de las ideas.
    </p>
    <hr />

    <h4>¿Por qué Libertario y no Liberal?</h4>
    <p>
      En los inicios del proyecto se detectó que la palabra liberal en nuestro país tiene una connotación extremadamente negativa en el ideario popular, lograda por la exitosa batalla cultural a traves de décadas librada por la izquierda. Por lo tanto, si bien en nuestro páis no surge la problemática de la socialdemocracia haber tomado la palabra liberal para ellos como en la lengua anglosajona, optamos por utilizar la misma como nombre del grupo.
    </p>
    <hr />

    <h4>Fuerza Libertaria ¿centro de debate intelectual?</h4>
    <p>
      No, fuerza libertaria no intenta ser un grupo de debate intelectual. Por el contrario, su misión es defender activamente las ideas de la libertad traccionando proyectos concretos para divulgar ideas y defender la libertad de los individuos.
    </p>
    <hr />

    <h4>Pero soy liberal clásico, anarcocapitalista o minianarquistas ¿es para mi?</h4>
    <p>
      Totalmente, la composición del grupo es bastante heterogénea en ese aspecto. Nos encontramos en uno de los países que más restringen las libertades de los individuos, dónde además la mayoría de los argentinos que producimos riqueza legítima trabajamos más de la mitad del año para mantener una estructura Estatal sobredimensionada, ineficiente y en su gran mayoría corrupta. Encontramos entonces que, en la actualidad, la discusión de las diferencias de fondo entre las distintas corrientes son totalmente irrelevantes. Unámosnos para caminar juntos recuperando libertades hasta que nuestros caminos difieran.
    </p>
    <br />
  </div>
</div>
