<%= render 'common/navbar' %>

<div class="container">
  <div class="content">
    <h1 class="title" style="margin-top: 20px">Principios del grupo</h1>

    <p>
      Los libertarios creemos en una sociedad de hombres y mujeres soberanos de sus vidas y conscientes de su unicidad, de sus derechos, de sus responsabilidades y de la extraordinaria importancia de su propia libertad. Para nosotros, la libertad del ser humano es el valor supremo. El liberalismo es el respeto irrestricto del proyecto de vida del prójimo. El individuo es la unidad básica de la sociedad y es la fuente de sus propios valores morales.
    </p>

    <p>
      Creemos que las personas tienen el derecho y la responsabilidad de decidir sobre las cuestiones que involucran a sus propias vidas, sin violar los mismos derechos de otros. Todo individuo es potencialmente capaz de razonar por sí mismo, por lo tanto es competente para discernir sobre lo certero, lo legítimo y lo justo. Siendo entonces todo individuo, sin importar su procedencia o sus características accidentales, capaz de una ética racional y una moral propia. Los individuos tenemos derechos naturales inalienables; que son la vida, la libertad y la propiedad. Estos derechos no los obtenemos de los gobiernos, sino que son propios a la naturaleza humana. El papel del Estado es asegurar estos derechos, no concederlos. Creemos que el individuo debe estar libre de coerción, para poder realizar su proyecto de vida satisfactoriamente.
    </p>

    <p>
      El liberalismo concibe al hombre como un fin en sí mismo. Nos oponemos a toda forma de autoridad ilegítima, la cual conciba al hombre como un medio para alcanzar fines colectivistas, dispuestos por un grupo de personas en forma violenta y autoritaria.
    </p>

    <h3>Pilares fundamentales</h3>
    <p>
      Existen cuatro pilares básicos en los cuales se basan nuestros principios.
    </p>

    <ul>
      <li>
        <strong>Libertad:</strong> cada individuo tiene el derecho de conducir su vida como crea conveniente, pudiendo elegir libremente su accionar sin la intervención del Estado en asuntos privados.
      </li>

      <li>
        <strong>Igualdad ante la ley:</strong> todos los ciudadanos de la República Argentina deben ser tratados iguales ante la ley. No deben existir privilegios ni beneficios de un ciudadano sobre otro.
      </li>

      <li>
        <strong>Derecho de propiedad:</strong> garantizar la libre disponibilidad de los bienes tanto físicos como intangibles. Cada individuo debe ser capaz de disponer de su cuerpo y de sus posesiones como crea pertinente.
      </li>

      <li>
        <strong>Seguridad:</strong> se trata de garantizar el cumplimiento de los puntos anteriores. Esta es la única razón de ser del Estado: salvaguardar los derechos inalienables de los individuos.
      </li>
    </ul>

    <h3>Principios básicos</h3>
    <p>
      En base a estos cuatro pilares fundamentales, hemos construido diez principios básicos que son la base de nuestras propuestas.
    </p>

    <ol>
      <li>
        <strong>Libertad de elección:</strong> el individuos es una persona única y debe poder ejercer plenamente su libertad como tal. Concebimos la libertad como un derecho inviolable que se manifiesta en diversos aspectos: libertad de pensamiento, de culto, de expresión, de asociación, de prensa, etc, cuyo único límite consiste en no afectar la libertad y el derecho de los demás, y que debe constituir una garantía frente a la intromisión del Estado en la vida de los individuos.
      </li>

      <li>
        <strong>Asociación voluntaria:</strong> toda relación humana debe ser fruto de pactos voluntarios y libres. La cooperación social y el libre intercambio entre individuos es la base de la prosperidad y el progreso humano. La coacción, sólo puede emplearse legítimamente contra otros de manera defensiva o ante el incumplimiento de un acuerdo (principio de no agresión).
      </li>

      <li>
        <strong>Libre mercado:</strong> entendido como un proceso económico y comercial de intercambios, en donde cada individuo interactúa libremente con el resto de los agentes económicos. El mercado somos todos. Cuando un intercambio es voluntario, las dos partes se benefician mutuamente. No por nada las sociedades más libres son más ricas y desarrolladas que las sociedades reprimidas. El sistema económico es un gran reloj suizo compuesto por miles de intercambios voluntarios que fomentan el bienestar general de la población. Ante este visionado, es imposible que el Estado pueda determinar cuáles son las medidas y precios que deben implementarse para alcanzar el bienestar social. Para poder cumplir este cometido, el Estado debería ser omnipresente, omnisciente y omnipotente, lo cual claramente no lo es, ya que está conducido por seres humanos falibles. Queda demostrado que cuando el Estado interviene en la economía, genera distorsiones, que a la postre, son la causa de las eventuales crisis económicas.
      </li>

      <li>
        <strong>Derecho a la propiedad privada:</strong> cada individuo tiene el derecho de disponer de sus bienes de la manera que considere conveniente. Este derecho inalterable debe ser salvaguardado y protegido por la ley. El derecho a la propiedad privada es la fuente del progreso y el desarrollo de las sociedades libres.
      </li>

      <li>
        <strong>Principio de no agresión:</strong> principio ético y jurídico, paralelo al de la propiedad privada, que sostiene la legalidad de las acciones del individuo, siempre y cuando no inicie ni amenace de violencia a otro individuo o su propiedad. La libertad de una persona termina donde empieza la libertad de su prójimo.
      </li>

      <li>
        <strong>Igualdad ante la ley:</strong> todos los ciudadanos deben ser tratados iguales ante la ley y ante el Estado. Ningún ciudadano tiene privilegios o beneficios sobre el resto de sus conciudadanos.
      </li>

      <li>
        El establecimiento de un <strong>Estado de derecho</strong> que garantice el acatamiento de un mismo marco mínimo de leyes que resguarden las libertades y el bienestar de las personas.
      </li>

      <li>
        El establecimiento de códigos civiles, constituciones e instituciones basadas en la <strong>división de poderes</strong> (Ejecutivo, Legislativo y Judicial), y en la discusión y solución de los problemas por medio de asambleas y parlamentos.
      </li>

      <li>
        La <strong>libertad de culto</strong> y la separación del Estado y la Iglesia en un Estado laico.
      </li>

      <li>
        Cada individuo debe ser libre de disponer y <strong>disfrutar del fruto de su trabajo</strong>. El Estado no tiene derecho a imponerle compartir sus bienes con otro ciudadano.
      </li>
    </ol>

    <p>
      Si compartes estos principios con nosotros, eres un libertario. Te invitamos a formar parte de este movimiento para poder vivir en una sociedad más libre y justa.
    </p>

    <h2 class="has-text-right">VIVA LA LIBERTAD!</h2>
  </div>
</div>
