<%= form_for(@usuario) do |f| %>
  <div class="message">
    <div class="message-header" style="justify-content: center">
      Datos personales
    </div>
    <div class="message-body">
      <%= render('form_datos_personales', f: f) %>
    </div>
  </div>
  <div class="message">
    <div class="message-header" style="justify-content: center">
      Colaboración activa
    </div>
    <div class="message-body">
      <%= render('form_colaboracion_activa', f: f) %>
    </div>
  </div>
  <hr />
  <div class="has-text-right">
    <button type="submit" class="button is-link is-medium"><%= submit_title %></button>
  </div>
<% end %>
