<%= render 'common/navbar' %>

<div class="container">
  <div class="content">
    <h1 class="title" style="margin-top: 20px">Editar perfil</h1>
    <hr />

    <%= render('common/notifications') %>

    <% if @usuario.errors.any? %>
      <div class="notification is-danger">
        <button class="delete"></button>
        Se produjeron errores en el formulario, por favor revísalo e intenta nuevamente. Gracias!
      </div>
    <% end %>

    <%= render('form', submit_title: 'Actualizar') %>
  </div>
</div>
