<h1>Fuerza Libertaria</h1>

<p>
  Somos un <strong>grupo de acción</strong> que surgió de forma espontánea en las redes, siendo la misión en común que nos une la de <strong>impulsar activamente</strong> las ideas de la <strong>libertad</strong> en la Argentina y, en un futuro próximo, concretar la creación de un <strong>partido político</strong> que nos represente.
</p>

<p>
  Gracias por unirte! Puedes restablecer tu password completando el siguiente <a href="<%= reset_password_by_email_usuarios_url(host: 'http://fuerzalibertaria.org', token: @usuario.reset_token) %>">formulario</a>.
<p>
