<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        <a href="/">Fuerza Libertaria</a>
      </h1>
      <h2 class="subtitle is-size-4">
        <%= subtitle %>
      </h2>
    </div>
  </div>
</section>
