<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"=>
        Fuerza Libertaria
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">
          <i class="fa fa-book"></i>&nbsp;Manifiesto
        </a>
        <a href="<%= mapa_liberal_path %>" class="navbar-item">
          <i class="fa fa-globe"></i>&nbsp;Mapa Liberal
        </a>
        <a href="https://join.slack.com/t/fuerza-libertaria/shared_invite/enQtMjY3MjYxNDkxMzk0LTE0ZGRiZjc3M2RhMzMxMDY0YjY0MzQwZTVkMzM2OWQ4YjAzMzg5YTQ2Y2Q4NTJjNWE1ODFlY2Y5MTY1Mzg0NGQ" target="_blank" class="navbar-item">
          <i class="fa fa-slack"></i>&nbsp;Slack
        </a>
        <a href="<%= proyectos_path %>" class="navbar-item">
          <i class="fa fa-bolt"></i>&nbsp;Proyectos
        </a>
        <a href="https://www.facebook.com/groups/137682480320087/" target="_blank" class="navbar-item">
          <i class="fa fa-facebook-square"></i>&nbsp;Facebook
        </a>
        <a href="<%= unirme_path %>" class="navbar-item">
          <i class="fa fa-user-plus"></i>&nbsp;Unirme
        </a>
        <a class="navbar-item">
          <i class="fa fa-sign-in"></i>&nbsp;Ingresar
        </a>
      </div>
    </div>
  </div>
</nav>
